<!-- /views/random_results.erb -->
<h1>Random Results</h1>
<div>Minimum</div>
<dd><%= @min %></dd>
<div>Maximum</div>
<dd><%= @max %></dd>
<div>Random Number</div>
<dd><%= @output %></dd>
<p><a href="/square/new">Pick another random number</a>
