<!-- /views/sq_form.erb -->

<form action="/square/results">
  <label for="num_input">Enter a number</label>
  <div><input id="num_input" name="number" placeholder="What number do you want to square?"></div>
  <div><button>Calculate square</button></div>
</form>
