<!-- /views/sq_root_form.erb -->

<form action="/square_root/results">
  <label for="num_input">Enter a number </label>
<input id="num_input" name="number" placeholder="What number do you want to square root?">
  <div><button>Calculate square root</button></div>
</form>
